// generic gap between the grids
$grid-gap: 0.5vw;
// background color of the body
$background-color: #ccc;

@mixin fullscreen() {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}