@import '_global-vars';
// the other scss files that need to be transpiled
@import 'ce-select';
@import 'ce-player';
@import 'menu-bar';
@import 'background-player';
@import 'foreground-player';
@import 'model-select';

body {
    margin: 0px;
    background-color: $background-color;
}

.hidden {
    display: none;
}

.muted {
    color: 0.30 * #fff;
}