@import '_global-vars';

.background-player {
    @include fullscreen();

    z-index: -100;

    & > .overlay {
        @include fullscreen();

        background-color: black;
        opacity: 0.30;
        z-index: -50;
    }
}