@import '_global-vars';

.background-player {
    @include fullscreen();

    z-index: -100;

    pointer-events: none;

    & > .overlay {
        background-color: black;
        
        @include fullscreen();

        opacity: 0.30;

        z-index: 100;
    }
}