@import '_global-vars';

.ce-player {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;

    & > .asset-player {
        position: absolute;
        width: 100%;
        max-height: 100%;

        border-radius: 0.25 * $grid-gap;
    }
}