@import '_global-vars';

.ce-select-container {
    // Needs to be full screen
    @include fullscreen();

    display: grid;

    // not sure if we want to enforce this but it will help with layout for now
    grid-gap: $grid-gap;

    // testing stuff
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);

    pointer-events: none;

    z-index: 100;
}
