@import '_global-vars';

.menu-overlay {
  // variables
  $menu-max-width: 25vw;
  $menu-max-height: 25vh;
  $menu-collapse-height: 2vh;
  $menu-collapse-width: 1vw;
  $menu-item-width: 20vw;

  @mixin animate($name, $timing: ease) {
    animation-name: $name;
    animation-duration: 0.5s;
    animation-timing-function: $timing;
    animation-fill-mode: forwards;
  }
  // Keyframes
  @keyframes collapse-horizontal {
    0% { max-height: $menu-max-height; }
    85% { opacity: 1; }
    100% { max-height: 0vh; opacity: 0; }
  }

  @keyframes expand-horizontal {
    0% { max-height: 0vh; opacity: 0; }
    85% { opacity: 1; }
    100% { max-height: $menu-max-height; }
  }
  // class rules
  @include fullscreen();

  display: grid;

  grid-template-columns: [left] fit-content($menu-max-width) [left-menu] auto [center] 1fr [right-menu] auto [right] fit-content($menu-max-width);
  grid-template-rows: [top] fit-content($menu-max-height) [top-menu] auto [center] 1fr [bottom-menu] auto [bottom] fit-content($menu-max-height);

  pointer-events: none;

  // Nested classes
  .menu-bar {
    // necessary because firefox is dumb
    width: inherit;
    max-height: $menu-max-height;

    grid-column: left / -1;
    grid-row-start: top;

    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    
    pointer-events: auto;
    background-color: #c0c1c4;

    display: flex;

    overflow: hidden;

    & > .menu-controls {
      padding: 1em;
    }

    & > .menu-list {
      display: flex;
      overflow: auto;
      justify-content: flex-start;

      & > .menu-item {
        flex: 0 0 auto;
        margin: 1em;

        width: $menu-item-width;
        height: $menu-item-width * (9 / 16);

        cursor: pointer;
      }
    }
  }
  
  .collapse-menu {
    @include animate(collapse-horizontal);
  }

  .expand-menu {
    @include animate(expand-horizontal);
  }

  .menu-tag {
    $tag-width: 5vw;

    display: flex;
    justify-content: space-around;
    pointer-events: auto;

    grid-row-start: top-menu;
    grid-column: left / -1;

    & > * {
      $double-tag-width: 2 * $tag-width;

      opacity: 0.85;
      background-color: #666;

      height: $menu-collapse-height;
      width: $tag-width;

      border-bottom-right-radius: $double-tag-width;
      border-bottom-left-radius: $double-tag-width;
    }
  }
}
