// modifying this is like modifying select
.ce-select-list {
    background-color: 0.65 * #ccc;

    // for now have each list take up a full row
    grid-column-start: 2;
    grid-column-end: span 8;

    // describe where the rows should be
    grid-row-start: 2;
    grid-row-end: 3;

    // rounded corners for my sanity
    border-radius: 0.5 * 0.5vw;

    // default behavior is displaying as flex
    display: flex;
    justify-content: flex-start;
    overflow: auto;

    pointer-events: auto;

    box-shadow: (0.75 * 0.5vw) (0.75 * 0.5vw) 0.5vw black;

    // these are the actual items. some basic styles need to be applied
    //   but the large part of the styles should come from imported stylesheets
    //   using the exposed hooks
    & > .ce-select-item {
        // default stuff for flex
        flex: 0 0 auto;
        margin: 0.25 * 0.5vw;
        width: 15vw;

        cursor: pointer;
    }
}